**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.idea
**/.vs
**/.vscode
**/*.*proj.user
**/bin
**/bin\\*
**/Dockerfile*
**/node_modules
**/obj
**/obj\\*
**/TestResults
**/*.db
**/*.db-shm
**/*.db-wal
