@page "/"

<PageTitle>Management Tool</PageTitle>

<div class="home">
    <h1>Management Tool</h1>
    <p>Welcome to the AK Gaming e.V. Management Tool</p>
    <div class="panels">
        <div class="panel">
            <h2>Features</h2>
            <div class="card">
                <h3>Membership</h3>
                <p>Manage your own personal data, apply for membership and view your membership status</p>
                <a href="membership">View Members</a>
            </div>
            <hr/>
            <h4>Administration</h4>
            <div class="card">
                <h3>Member Management</h3>
                <p>Monitor and manage members, their personal data and their membership status</p>
                <a href="members">View Members</a>
            </div>
        </div>
        <div class="panel">
            <h2>Roadmap 2025</h2>
            <div class="card">
                <h3>Discord Integration</h3>
                <p>Sign up or link with your discord account, get your service years approved on our discord server</p>
            </div>
            <div class="card">
                <h3>General meetings</h3>
                <p>View the agenda and vote on proposals directly from the dashboard</p>
            </div>
            <hr/>
            <h4>Administration</h4>
            <div class="card">
                <h3>Markdown Editor</h3>
                <p>Edit website content and internal notes with markdown</p>
            </div>
            <div class="card">
                <h3>General meetings</h3>
                <p>Manage invites, attendance and votings</p>
            </div>
        </div>
        <div class="panel">
            <h2>Roadmap 2026</h2>
            <div class="card">
                <h3>Event Feed & Forms</h3>
                <p>Get an overview for our upcoming events and quickly register for them</p>
            </div>
            <hr/>
            <h4>Administration</h4>
            <div class="card">
                <h3>Finance</h3>
                <p>Manage invoices and view our payment history. Includes membership fee overview and management</p>
            </div>
            <div class="card">
                <h3>Gamenight</h3>
                <p>A collection of tools for the gamenight, both for organizers and attendees</p>
            </div>
        </div>
    </div>
</div>
