@page "/membership/user/{UserId}"
<PageTitle>My Membership</PageTitle>
@using Microsoft.AspNetCore.Authorization
@using Frontend.Blazor.Components.Administration.MemberManagement;
@attribute [Authorize]

<PageTitle>My Membership</PageTitle>

<CascadingValue Value="MemberApi" Name="MemberManagementApi" IsFixed="true">
    @if (_loading) {
        <p>Loading...</p>
    }
    else if (_member != null) {
        <MemberCard Member="_member" IsEditable="true" IsStatusEditable="false" />
    }
    else {
        <NoMemberPanel UserId="_userGuid" />
    }
</CascadingValue>
