<div class="no-member">
    <h3>No linked member found</h3>
    <p>Your account is not linked to a member profile.</p>

    <div class="choice-buttons">
        <div class="choice-button" @onclick="ShowRequestLink">
            <div class="choice-icon bi-person-check"></div>
            <div class="choice-text">
                <div class="choice-flavor">
                    You already are a member of AK Gaming e.V.?
                </div>
                <div class="choice-action">
                    Request linking to an existing member profile
                </div>
            </div>
        </div>

        <div class="choice-button" @onclick="ShowApply">
            <div class="choice-icon bi-person-plus"></div>
            <div class="choice-text">
                <div class="choice-flavor">
                    You came here to become a member of AK Gaming e.V.?
                </div>
                <div class="choice-action">
                    Apply for Membership
                </div>
            </div>
        </div>
        
    </div>

    <div class="panel-container">
        @switch (_mode)
        {
            case PanelMode.RequestLink:
                <RequestLinkPanel UserGuid="@UserId" />
                break;
            case PanelMode.Apply:
                <ApplyForMembershipPanel UserGuid="@UserId" />
                break;
        }
    </div>
</div>