<div class="member-preview-card container p-2 rounded-2 bg-dark" @onclick="SelectMember">
    <div class="member-preview-card-content">
        <div>@Member.FirstName @Member.LastName</div>
        <div>@Member.DiscordUserName</div>
        <div class="member-preview-card-status">@Member.Status</div>
    </div>
</div>