@page "/member-management"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]
@inject HttpClient Api

<h3>Member Management</h3>
<div class="member-management-page-container">
    <div class="member-management-page-left">
        <hr />
        <h4>Existing Members</h4>

        @if (_members == null) {
            <p>Loading…</p>
        }
        else if (!_members.Any()) {
            <p>No members found.</p>
        }
        else {
            <div class="member-list-scroll-container">
                <div class="member-list">
                    @foreach (var member in _members) {
                        <MemberPreviewCard Member="member" IsSelected="member == _selectedMember" OnSelect="SelectMember" />
                    }
                </div>
            </div>
        }
    </div>
    <div class="member-management-page-right">
        <hr/>
        <MemberCard Member="_selectedMember" IsEditable="true" OnSave="UpdateSelectedMemberAsync"/>
        @if (_createError != null)
        {
            <p class="text-danger">@_createError</p>
        }
    </div>
</div>