@page "/membership/user/{UserId}"
<PageTitle>My Membership</PageTitle>
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>My Membership</PageTitle>

<CascadingValue Value="MemberApi" Name="MemberManagementApi" IsFixed="true">
    @if (_loading) {
        <p>Loading...</p>
    }
    else if (_member != null) {
        @if (_applicationRequest != null) {
            <div class="card pending-application-card">
                <h3>Membership Application Pending</h3>
                <p>Thanks for your application! We will review it as soon as possible.</p>
            </div>
        }
        <div class="membership-tabs">
            <button type="button"
                    class="tab @(_activeTab == MemberTab.Profile ? "active" : "")"
                    @onclick="() => _activeTab = MemberTab.Profile">
                Profile
            </button>
            <button type="button"
                    class="tab @(_activeTab == MemberTab.Dues ? "active" : "")"
                    @onclick="() => _activeTab = MemberTab.Dues">
                Fees
            </button>
        </div>

        @if (_activeTab == MemberTab.Profile) {
            <MemberInfoPanel Member="_member" OnMemberUpdated="HandleMemberUpdated" />
        }
        else if (_activeTab == MemberTab.Dues) {
            <MemberDuesPanel />
        }
    }
    else {
        <NoMemberPanel UserId="_userGuid" PendingApplication="_applicationRequest" PendingLinkingRequest="_linkingRequest" />
    }
</CascadingValue>
